<header>
  <nav class="group">
    <a href="{{ site.baseurl }}/">
      <img class="badge" src="{{ site.baseurl }}/assets/img/badge_1.png" alt="CH">
    </a>
    {% assign nav_pages = site.pages | sort:"nav_order" %}
    {% for node in nav_pages %}
      {% unless node.nav_exclude or node.url == '/page/'  or   node.nav_exclude%}
        {% if page.url == node.url %}
          <a class="active" href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
        {% else %}
          <a href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
        {% endif %}
      {% endunless %}
    {% endfor %}
  </nav>
</header>
