name: Publish with Rake

on:
  push:
    branches:
      - main  # or main

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Check out
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0'  # or a more recent version if you prefer

      - name: Install Bundler
        run: gem install bundler

      - name: Install your gems
        run: |
          gem install jekyll rake

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git remote set-url origin "https://${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git"

      - name: Run Rake publish
        run: |
          bundle exec rake publish
